<ion-header>
  <ion-toolbar>
    <ion-title>Evaluar  Servicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <p>En este modulo , reponderea esta pequeña  encuenta  de  como le parece nuestro servicio 
    no interesa mucho su informacion,  es de suma  importancia para seguir mejorando.
  </p>

<br>

    <ion-item>
        <ion-label>Nivel 1</ion-label>
        <ion-select placeholder="Seleccionar una opcion">
          <ion-select-option value="1">Excelente</ion-select-option>
          <ion-select-option value="2">Bueno</ion-select-option>
          <ion-select-option value="3">Regualar</ion-select-option>
          <ion-select-option value="4">Malo</ion-select-option>
        </ion-select>
      </ion-item>

      <br>
  
      <ion-item>
          <ion-label>Nivel 2</ion-label>
          <ion-select placeholder="Seleccionar una opcion">
              <ion-select-option value="1">Excelente</ion-select-option>
              <ion-select-option value="2">Bueno</ion-select-option>
              <ion-select-option value="3">Regualar</ion-select-option>
              <ion-select-option value="4">Malo</ion-select-option>
          </ion-select>
        </ion-item>
        <br>
        <ion-item>
            <ion-textarea rows="6" cols="20" placeholder="Que debemos mejorar.."></ion-textarea>
          </ion-item>
          <br>
        <div padding>
            <ion-button  shape="round"  size="default" expand="block"  routerLink="/tab/chat">Guardar
            </ion-button>
          </div>

</ion-content>
